﻿@model IEnumerable<controleEscola.Models.Pessoa>

@{
    ViewData["Title"] = "Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pessoa</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nmpessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nrcpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nrrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dtnascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdcadastroFuturo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlcdcadastroFuturoUtilizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nmpessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nrcpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nrrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dtnascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdcadastroFuturo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlcdcadastroFuturoUtilizado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PessoaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PessoaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PessoaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
