﻿@model IEnumerable<controleEscola.Models.UsuarioEscola>

@{
    ViewData["Title"] = "UsuarioEscola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsuarioEscola</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prontuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TpusuarioEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prontuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TpusuarioEscola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaFkNavigation.CodNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioEscolaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioEscolaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioEscolaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
