@model controleEscola.Models.DisciplinaViewModel

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "_Layout";
}

<h2>Cadastrar</h2>

<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CursoFk"></label>
                <select class="form-control" asp-for="CursoFk">
                @foreach (var c in Model.Cursos)
                {        
                <option value=@c.CursoId >@c.Nmcurso</option>
                }
                </select>
                <span asp-validation-for="CursoFk" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="Nmdisciplina" class="control-label"></label>
                <input asp-for="Nmdisciplina" class="form-control" />
                <span asp-validation-for="Nmdisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cddisciplina" class="control-label"></label>
                <input asp-for="Cddisciplina" class="form-control" />
                <span asp-validation-for="Cddisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dsdisciplina" class="control-label"></label>
                <input asp-for="Dsdisciplina" class="form-control" />
                <span asp-validation-for="Dsdisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

