@model controleEscola.Models.Disciplina

@{
    ViewData["Title"] = "Deletar";
    Layout = "_Layout";
}

<h2>Deletar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Disciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisciplinaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisciplinaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CursoFk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CursoFkNavigation.Nmcurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nmdisciplina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nmdisciplina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cddisciplina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cddisciplina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dsdisciplina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dsdisciplina)
        </dd>
    </dl>
    
    <form asp-action="Deletar">
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
