@model controleEscola.Models.DisciplinaViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "_Layout";
}

<h2>Editar</h2>

<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <input type="hidden" asp-for="DisciplinaId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CursoFk"></label>
                <select class="form-control" asp-for="CursoFk">
                @foreach (var c in Model.Cursos)
                {  
                    @if (@c.CursoId == Model.CursoFk)
                    {
                        <option selected value="@c.CursoId">@c.Nmcurso</option>
                    }else{
                        <option value="@c.CursoId" >@c.Nmcurso</option>
                    }      
                }
                </select>
                <span asp-validation-for="CursoFk" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nmdisciplina" class="control-label"></label>
                <input asp-for="Nmdisciplina" class="form-control" />
                <span asp-validation-for="Nmdisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cddisciplina" class="control-label"></label>
                <input asp-for="Cddisciplina" class="form-control" />
                <span asp-validation-for="Cddisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dsdisciplina" class="control-label"></label>
                <input asp-for="Dsdisciplina" class="form-control" />
                <span asp-validation-for="Dsdisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

