@model IEnumerable<controleEscola.Models.Disciplina>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>

<p>
    <a asp-action="Cadastrar">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisciplinaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoFkNavigation.Dscurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nmdisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cddisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dsdisciplina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplinaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoFkNavigation.Nmcurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nmdisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cddisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dsdisciplina)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.DisciplinaId }) |
                @Html.ActionLink("Mostrar", "Mostrar", new { id=item.DisciplinaId }) |
                @Html.ActionLink("Deletar", "Deletar", new { id=item.DisciplinaId  })
            </td>
        </tr>
}
    </tbody>
</table>
