@model controleEscola.Models.WizardViewModel

@{
    ViewData["Title"] = "gerarQuestionario";
    Layout = "_Layout";
}

<div class="section__content section__content--p30 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-header">Gerador de Prova</div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Nova Prova</h3>
                        </div>
                        <hr>
                        <form asp-action="gerarQuestionario" method="POST">
                            
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            
                            <div class="form-group">
                                <label asp-for="Nmtitulo" class="control-label mb-1"></label>
                                <input asp-for="Nmtitulo" class="form-control" />
                                <span asp-validation-for="Nmtitulo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Dsquestionario" class="control-label mb-1"></label>
                                <input asp-for="Dsquestionario" class="form-control" />
                                <span asp-validation-for="Dsquestionario" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Disciplina</label>
                                <select class="form-control mb-1" asp-for="DisciplinaFk">
                                    @foreach (var d in Model.Disciplinas)
                                    {
                                        <option value="@d.DisciplinaId" >@d.Nmdisciplina</option>
                                    }

                                </select>
                            </div>
                            <div class="card border border-secondary">
                                <div class="card-header">
                                    <strong class="card-title">Tipos Questões</strong>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.TipoQuestoes.Count(); i++)
                                    {
                                        <div class="form-group">
                                            <label name="" id="" class="control-label mb-1">Quantidade @Model.TipoQuestoes[i].NmtipoQuestao</label>
                                            <input type="number" name="QuantidadeTipoQuestoes[@i].Qtdtipo" value="0" class="form-control qtd-tipo-questao" />
                                            <input type="hidden" name="QuantidadeTipoQuestoes[@i].tipoId" value="@Model.TipoQuestoes[@i].TipoQuestaoId" class="form-control" />
                                        </div>
                                    <span asp-validation-for="@Model.QuantidadeTipoQuestoes[@i]" class="text-danger"></span>
                                    } 
                                </div>
                            </div>
                            
                            <div class="card border border-secondary">
                                <div class="card-header">
                                    <strong class="card-title">Nivel de dificuldade das Questões</strong>
                                </div>
                                <div class="card-body">
                                     @{
                                    int cont = 0;
                                    }
                                    @foreach (var nv in Model.NivelDificuldadeQuestoes)
                                    {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="NivelDificuldadeQuestoesFk[]" value="@nv.NivelDificuldadeQuestaoId" id="exampleCheck1" >
                                            <label class="form-check-label mb-1" for="exampleCheck1">@nv.NmnivelDificuldade</label>
                                        </div>
                                        cont=cont+1;
                                    }

                                    <span asp-validation-for="NivelDificuldadeQuestoesFk" class="text-danger"></span>
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <label asp-for="QtquestoesTotal" class="control-label mb-1"></label>
                                <input readonly asp-for="QtquestoesTotal" class="form-control qtd-total-questoes" />
                                <span asp-validation-for="QtquestoesTotal" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    
                                </div>
                                <div class="col-6">
                                    
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-save fa-lg"></i>&nbsp;
                                    <span>Gerar</span>
                                </button>
                            </div>
                        </form>
                        <div class="mt-2">
                            <a asp-action="Index">Voltar para lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('.qtd-tipo-questao').blur(function(){
            let total = 0;
            $('.qtd-tipo-questao').each(function(indice, element){
                total = total + parseInt($(element).val());
            });

            $('.qtd-total-questoes').val(total);
        });
    </script>
}