@model IEnumerable<controleEscola.Models.Questionario>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Minhas Provas</h3>
                <div class="table-data__tool">
                    
                    <div class="table-data__tool-right">
                        <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-action="GerarQuestionario"> 
                            <i class="zmdi zmdi-plus"></i>Gerar Prova</a>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>
                                    <label for="key">Indice</label>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nmtitulo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dsquestionario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dtcriacao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dtatualizacao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FlAtivo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @{int i = 1;}
                        @foreach (var item in Model) {
                            <tr class="tr-shadow">
                                <td>
                                    <span class="block-email">@i</span>
                                </td>
                                <td class="desc">@Html.DisplayFor(modelItem => item.Nmtitulo)</td>
                        
                                <td>
                                    <span class="status--process">@Html.DisplayFor(modelItem => item.Dsquestionario)</span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Dtcriacao)</td>
                                
                                <td>@Html.DisplayFor(modelItem => item.Dtatualizacao)</td>

                                <td>@Html.DisplayFor(modelItem => item.FlAtivo)</td>

                                <td>
                                    <div class="table-data-feature">
                                        <a class="item" data-toggle="tooltip" data-placement="top" title="Ver" asp-action="Mostrar" asp-route-id="@item.QuestionarioId"> 
                                            <i class="zmdi zmdi-eye"></i>
                                        </a>
                                    
                                        <a class="item" data-toggle="tooltip" data-placement="top" title="Deletar"> 
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                        
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                            { i = i+1;}
                        }  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->