@model controleEscola.Models.QuestionarioViewModel

@{
    ViewData["Title"] = "Mostrar";
    Layout = "_Layout";
}
<div class="section__content section__content--p30 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-header">Prova @Model.Questoes[0].DisciplinaFk</div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">@Model.Questionario.Nmtitulo</h3>
                        </div>
                        <div class="card-title">
                            <p class="text-center">@Model.Questionario.Dsquestionario</p>
                        </div>

                        @{int i = 1;}
                        @foreach (var q in Model.Questoes)
                        {
                            <hr>
                            <h4>@i ) @q.Nmquestao</h4>
                            <p> @q.Txquestao</p>

                            <ul>
                                @if (q.Alternativa.ToList().Count() > 0)
                                {
                                    @foreach (var a in q.Alternativa.ToList())
                                    {
                                        <li>
                                            <p>( ) <span>@a.Txalternativa</span></p>
                                        </li>
                                    }
                                }

                                @if (q.Resposta.ToList().Count() > 0)
                                {
                                    <li>
                                        <div>

                                        </div>
                                    </li>
                                }
                            </ul>
                            {i = i+1;}
                        }
                        <hr>
                        <div class="mt-2">
                            <a asp-action="Index">Voltar para lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    ul{
        list-style: none;
    }

    li span{
        text-transform: lowercase;
    }

    li div{
        border: 2px dotted black;
        height: 150px;
        width: auto;
    }

    h4, p{
        text-transform: capitalize;
    }
</style>