@model controleEscola.Models.QuestaoViewModel

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "_Layout";
}

<div class="section__content section__content--p30 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-header">Cadastro</div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Nova Questão</h3>
                        </div>
                        <hr>
                        <form asp-action="Cadastrar">
                            <input type="hidden" asp-for="QuestaoId">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Nmquestao" class="control-label mb-1"></label>
                                <input asp-for="Nmquestao" class="form-control" />
                                <span asp-validation-for="Nmquestao" class="help-block field-validation-valid text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Txquestao"></label>
                                <textarea class="form-control" asp-for="Txquestao" rows="5"></textarea>
                                <span asp-validation-for="Txquestao" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label mb-1" asp-for="DisciplinaFk"></label>
                                <select class="form-control" asp-for="DisciplinaFk">
                                @foreach (var d in Model.Disciplina)
                                {        
                                <option value=@d.DisciplinaId >@d.Nmdisciplina</option>
                                }
                                </select>
                                <span asp-validation-for="DisciplinaFk" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label mb-1" asp-for="UsuarioEscolaFk"></label>
                                <select class="form-control" asp-for="UsuarioEscolaFk">
                                @foreach (var u in Model.UsuarioEscola)
                                {        
                                <option value=@u.UsuarioEscolaId >@u.Prontuario</option>
                                }
                                </select>
                                <span asp-validation-for="UsuarioEscolaFk" class="text-danger"></span>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label mb-1" asp-for="NivelDificuldadeQuestaoFk"></label>
                                        <select class="form-control" asp-for="NivelDificuldadeQuestaoFk">
                                        @foreach (var n in Model.NivelDificuldadeQuestao)
                                        {        
                                        <option value=@n.NivelDificuldadeQuestaoId >@n.NmnivelDificuldade</option>
                                        }
                                        </select>
                                        <span asp-validation-for="NivelDificuldadeQuestaoFk" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label mb-1" asp-for="FlpermitirCompartilhar"></label>
                                        <select class="form-control" asp-for="FlpermitirCompartilhar">
                                            <option value="N" >Não</option>    
                                            <option value="S" >Sim</option>
                                        </select>
                                        <span asp-validation-for="FlpermitirCompartilhar" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label mb-1" asp-for="TipoQuestaoFk"></label>
                                <select class="form-control tipo-questao" asp-for="TipoQuestaoFk">
                                <option>Selecione um tipo</option>
                                @foreach (var tp in Model.TipoQuestao)
                                {        
                                <option value="@tp.TipoQuestaoId" >@tp.NmtipoQuestao</option>
                                }
                                </select>
                                <span asp-validation-for="TipoQuestaoFk" class="text-danger"></span>
                            </div>

                            <div class="resposta" ></div>

                            <div>
                                <button type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-save fa-lg"></i>&nbsp;
                                    <span>Salvar</span>
                                </button>
                            </div>
                        </form>
                        <div class="mt-2">
                            <a asp-action="Index">Voltar para lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/questao.js" ></script>
}