@model controleEscola.Models.QuestaoViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "_Layout";
}

<div class="section__content section__content--p30 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-header">Editar</div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Questão</h3>
                        </div>
                        <hr>
                        <form asp-action="Editar">
                            <input asp-for="QuestaoId" type="hidden" class="form-control" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Nmquestao" class="control-label mb-1"></label>
                                <input asp-for="Nmquestao" class="form-control" />
                                <span asp-validation-for="Nmquestao" class="help-block field-validation-valid text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Txquestao"></label>
                                <textarea class="form-control" asp-for="Txquestao" rows="5"></textarea>
                                <span asp-validation-for="Txquestao" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label mb-1" asp-for="DisciplinaFk"></label>
                                <select class="form-control" asp-for="DisciplinaFk">
                                @foreach (var d in Model.Disciplina)
                                {  
                                    @if (@d.DisciplinaId == Model.DisciplinaFk)
                                    {
                                        <option selected value=@d.DisciplinaId >@d.Nmdisciplina</option>
                                    }else{
                                        <option value=@d.DisciplinaId >@d.Nmdisciplina</option>
                                    }      
                                }
                                </select>
                                <span asp-validation-for="DisciplinaFk" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label mb-1" asp-for="UsuarioEscolaFk"></label>
                                <select class="form-control" asp-for="UsuarioEscolaFk">
                                @foreach (var u in Model.UsuarioEscola)
                                {        
                                @if (@u.UsuarioEscolaId == Model.UsuarioEscolaFk)
                                    {
                                        <option selected value=@u.UsuarioEscolaId >@u.Prontuario</option>
                                    }else{
                                        <option value=@u.UsuarioEscolaId >@u.Prontuario</option>
                                    } 
                                }
                                </select>
                                <span asp-validation-for="UsuarioEscolaFk" class="text-danger"></span>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label mb-1" asp-for="NivelDificuldadeQuestaoFk"></label>
                                        <select class="form-control" asp-for="NivelDificuldadeQuestaoFk">
                                    @foreach (var n in Model.NivelDificuldadeQuestao)
                                        {        
                                        @if (@n.NivelDificuldadeQuestaoId == Model.NivelDificuldadeQuestaoFk)
                                        {
                                            <option selected value=@n.NivelDificuldadeQuestaoId >@n.NmnivelDificuldade</option>
                                        }else{
                                            <option value=@n.NivelDificuldadeQuestaoId >@n.NmnivelDificuldade</option>
                                        } 
                                    }
                                        </select>
                                        <span asp-validation-for="NivelDificuldadeQuestaoFk" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label mb-1" asp-for="FlpermitirCompartilhar"></label>
                                        <select class="form-control" asp-for="FlpermitirCompartilhar">
                                            @if (Model.FlpermitirCompartilhar =="N")
                                            {
                                                <option selected value="N" >Não</option>
                                                <option value="S" >Sim</option>
                                            }else if (Model.FlpermitirCompartilhar == "S")
                                            {
                                                <option value="N" >Não</option>
                                                <option selected value="S" >Sim</option>
                                            }else{
                                                <option value="S" >Não</option>
                                                <option value="N" >Sim</option>
                                            }
                                        </select>
                                        <span asp-validation-for="FlpermitirCompartilhar" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label mb-1" asp-for="TipoQuestaoFk"></label>
                                <select class="form-control tipo-questao" asp-for="TipoQuestaoFk">
                                @foreach (var tp in Model.TipoQuestao)
                                {    
                                    @if (@tp.TipoQuestaoId == Model.TipoQuestaoFk)
                                    {
                                        <option selected value=@tp.TipoQuestaoId >@tp.NmtipoQuestao</option>
                                    }else{
                                        <option value=@tp.TipoQuestaoId >@tp.NmtipoQuestao</option>
                                    }
                                }
                                </select>
                                <span asp-validation-for="TipoQuestaoFk" class="text-danger"></span>
                            </div>

                            @if (Model.Resposta.Count() > 0)
                            { 
                                <div class="resposta" >
                                    <div class="resposta-conteudo">
                                    @for (int i = 0; i < Model.Resposta.Count(); i++)
                                    {
                                        <div class="form-group">
                                            <label class="control-label mb-1" for="Txresposta">Solução</label>
                                            <textarea class="form-control" asp-for="@Model.Resposta[@i].Txresposta" placeholder="Descreva a resposta desta Questão aqui!" rows="5"></textarea>
                                            <span asp-validation-for="@Model.Resposta[@i].Txresposta" class="text-danger"></span>
                                        </div>
                                        }
                                    </div>
                                    <div class="resposta-rodape"></div>
                                </div>
                            }
                            @if (Model.Alternativa.Count() > 0)
                            {
                                <div class="resposta" >
                                    <div class="resposta-conteudo">
                                        @for (int i = 0; i < Model.Alternativa.Count() ; i++)
                                        {
                                            
                                        <div class="custom-control custom-radio">
                                        @if (Model.Alternativa[i].Flcorreta == "S")
                                        {
                                            <input type="radio" class="alternativaCorreta" name="alternativaCorreta"  checked class="custom-control-input">                
                                        }else{
                                            <input type="radio" class="alternativaCorreta" name="alternativaCorreta"  class="custom-control-input">
                                        }   
                                            <input type="hidden" class="alternativaCorretaValue" asp-for="@Model.Alternativa[@i].Flcorreta">
                                            <input type="hidden" asp-for="@Model.Alternativa[@i].Txalternativa">
                                            <label class="control-label mb-1" >@Model.Alternativa[@i].Txalternativa</label>
                                        </div>
                                        }
                                    </div>
                                    
                                    <div class="resposta-rodape">
                                        <button class="btn btn-primary add-nova-alternativa mb-2 btn-success" type="button"><i class="zmdi zmdi-plus"></i></button>
                                    </div>

                                </div>
                            }

                            <div>
                                <button type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-save fa-lg"></i>&nbsp;
                                    <span>Salvar</span>
                                </button>
                            </div>
                        </form>
                        <div class="mt-2">
                            <a asp-action="Index">Voltar para lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var qtdAlternativa  = @Model.Alternativa.Count();
    </script>
    <script src="~/js/questao.js" ></script>
}