@model IEnumerable<controleEscola.Models.Questao>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Lista de Questões</h3>
                <div class="table-data__tool">
                    
                    <div class="table-data__tool-right">
                        <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-action="Cadastrar"> 
                            <i class="zmdi zmdi-plus"></i>Nova</a>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nmquestao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Txquestao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DisciplinaFk)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsuarioEscolaFk)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoQuestaoFk)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NivelDificuldadeQuestaoFk)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FlpermitirCompartilhar)
                                </th>
                                <th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model) {
                            <tr class="tr-shadow">
                                <td>
                                    <span class="block-email">@Html.DisplayFor(modelItem => item.Nmquestao)</span>
                                </td>
                                <td class="desc">@Html.DisplayFor(modelItem => item.Txquestao)</td>
                        
                                <td>
                                    <span class="status--process">@Html.DisplayFor(modelItem => item.DisciplinaFkNavigation.Nmdisciplina)</span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.UsuarioEscolaFkNavigation.PessoaFkNavigation.Nmpessoa)</td>
                                
                                <td>@Html.DisplayFor(modelItem => item.TipoQuestaoFkNavigation.NmtipoQuestao)</td>

                                <td>@Html.DisplayFor(modelItem => item.NivelDificuldadeQuestaoFkNavigation.NmnivelDificuldade)</td>
                                
                                <td>@Html.DisplayFor(modelItem => item.FlpermitirCompartilhar)</td>

                                <td>
                                    <div class="table-data-feature">
                                        <a class="item" data-toggle="tooltip" data-placement="top" title="Ver" asp-action="Mostrar" asp-route-id="@item.QuestaoId"> 
                                            <i class="zmdi zmdi-eye"></i>
                                        </a>
                                        <a class="item" data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Editar" asp-route-id="@item.QuestaoId"> 
                                            <i class="zmdi zmdi-edit"></i>
                                        </a>
                                        <a class="item" data-toggle="tooltip" data-placement="top" title="Deletar" asp-action="Deletar" asp-route-id="@item.QuestaoId"> 
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                        
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        }  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->