@model controleEscola.Models.Questao

@{
    ViewData["Title"] = "Mostrar";
    Layout = "_Layout";
}

<div class="section__content section__content--p30 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-header">Questao</div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class=""><span class="font-weight-bold" >Nome da Questão: </span> @Model.Nmquestao</h3>
                            <h3 class=""><span class="font-weight-bold" >Disciplina: </span> @Model.DisciplinaFkNavigation.Nmdisciplina</h3>
                            <h3 class=""><span class="font-weight-bold" >Tipo: </span> @Model.TipoQuestaoFkNavigation.NmtipoQuestao</h3>
                            <h3 class=""><span class="font-weight-bold" >Nivel: </span> @Model.NivelDificuldadeQuestaoFkNavigation.NmnivelDificuldade</h3>
                            <h3 class=""><span class="font-weight-bold" >Compartilhada: </span> @Model.FlpermitirCompartilhar</h3>
                        </div>
                        <div class="card-title">
                            <p class="text-center">@Model.Txquestao</p>
                        </div>
                        
                            <ul>
                                @if (Model.Alternativa.ToList().Count() > 0)
                                {   
                                    <h4>Alternativas:</h4>
                                    @foreach (var a in Model.Alternativa.ToList())
                                    {   
                                        <li>
                                            <p>@(a.Flcorreta == "S" ? "(X)" : "( )") <span>@a.Txalternativa</span></p>
                                        </li> 
                                    }
                                }
                                
                                @if (Model.Resposta.ToList().Count() > 0)
                                {
                                    <h4>Resposta:</h4>
                                    @foreach (var r in Model.Resposta.ToList())
                                    {
                                    <li>
                                        <div>
                                            <p>@r.Txresposta</p>
                                        </div>
                                    </li>
                                    }
                                }
                            </ul>
                        <hr>
                        <div class="mt-2">
                            <a asp-action="Index">Voltar para lista</a>
                            <a class="btn btn-success" asp-action="Editar" asp-route-id="@Model.QuestaoId" >Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    ul{
        list-style: none;
    }

    li span{
        text-transform: lowercase;
    }

    li div{
        border: 2px dotted black;
        height: 150px;
        width: auto;
    }

    h4, p{
        text-transform: capitalize;
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
    }
</style>